<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<% unless @blog.comments.count.zero? %>
  <hr>
  # エラーの原因: String can't be coerced into Integerのエラー。数字と文字は足せない。
  # 修正の意図: 文字と文字の合成のコードへ変更。
  <p>
    <strong>Comment:</strong>
    <%= @blog.comments.count.to_s + "comments" %>
  </p>

  <p>
    <%= render @blog.comments %>
  </p>
<% end %>

<p>
  <%= render 'comments/form', blog: @blog %>
</p>

<%= link_to 'Edit', '/blogs/#{blog.id}/edit' %> |
<%= link_to 'Back', blogs_path %>
